/* work sans google fonts  */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

  /* shared styles */

  *{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }

  .btn-primary{
    border-radius: 8px;
background: #FF900E;
color: #FFF;
text-align: center;
font-size: 1.25rem;
font-weight: 600;
padding: 20px 24px;
border: none;
margin-bottom: 50px;
cursor: pointer;
  }
/* header styles  */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    margin-bottom: 85px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
    
}
nav > ul > li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
   
}
nav > ul > li > a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    color:  #131313;
    font-family: Work Sans;
    font-size: 2.8125rem;
    font-weight: 700;
}

/* banner styles */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color:  #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description{
    color: #727272;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;
}
.banner img{
    width: 100%;
}


/* main styles */

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* team section style  */
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    
}
.team-container{
    display: flex;
    align-items: center;
}
.team-content{
    max-width: 535px;
   padding-left: 75px;
   padding-right: 75px;
}
.q-list{
    color:  #727272;
    font-size: 2.8125rem;
    font-weight: 500;
}
.of-our{
    color: var #131313;
    font-size: 2.8125rem;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-size: 2.8125rem;
    font-weight: 700;
}
.team-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;

}

/* fact section style  */

.fact-title{
    color:  #131313;
    font-size: 2.8125rem;
    font-weight: 700;
    margin-top: 145px;
    margin-bottom: 24px;
}
.fact-description{
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 100px;
}
.fact-card-container{
    display: flex;
    justify-content: space-around;
    
}
.fact-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
text-align: center;
padding: 45px 57px;
}
.card-stats{
    color:  #424242;
    font-size: 2.8125rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 8px;
}
.card-title{
    color:  #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

/* our sponsor section styles  */

.sponsor-title{
    color: #131313;
    font-size: 2.8125rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 180px;
}
.sponsor-description{
    color: var(--dark-03, #727272);
text-align: center;
font-size: 1rem;
font-weight: 400;
margin-bottom: 50px;

}

.sponsor-img-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
    gap: 40px;
    align-items: center;
  
}
.sponsor-img-container img{
    width: 166.757px;
}

/* feature section styles  */

.f-title{
    color: #131313;
font-size: 2.8125rem;
font-weight: 700;
margin-bottom: 24px;
border-left: 5px solid #FF900E;
padding-left: 21px;
}
.f-description{
    color:  #727272;
font-size: 1rem;
font-weight: 400;

}
.f-gap{
    margin-bottom: 30px;
}
.f-card{
    
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 40px;
    margin-bottom: 20px;
}
.f-card-title{
    color:  #131313;
    font-size: 1.25rem;
    font-weight: 600;

}
.features-container{
    display: flex;
    margin-top: 130px;
    gap: 145px;
}
.ten-btn{
    padding: 42px 45px;
}
.ten-plus{
    color: #FFF;
text-align: center;
font-size: 4.0625rem;
font-weight: 700;
}
.exp{
    color: #FFF;
    font-size: 1.5625rem;
    font-weight: 500;
}







/* responsive styles  */

/* mobile devices */

@media screen and (max-width:576px) {

    header{
        padding: 15px;
    }
    nav,.team-container,.fact-card-container,.sponsor-img-container{
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .team-content,.fact-card-container{
       padding-left: 20px;
       padding-right: 20px;
    }
    .fact-card-container{
        gap: 15px;
    }
    .fact-card-container .card{
        padding: 5px;

    }
    
}

/* medium devices */

@media screen and (min-width:576px) and (max-width:992px) {

    header{
        padding: 15px;
    }
    nav,.sponsor-img-container,.fact-card-container{
        flex-direction: column;
    }
    .team-container{
        flex-direction: column-reverse;
    }
    .team-img-container img{
        width: 92%;
    }
    .fact-card-container{
        padding-left: 20px;
       padding-right: 20px;
       gap: 15px;
    }


    
}