/* work sans google fonts  */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

  /* shared styles */

  *{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }

  .btn-primary{
    border-radius: 8px;
background: #FF900E;
color: #FFF;
text-align: center;
font-size: 1.25rem;
font-weight: 600;
padding: 20px 24px;
border: none;
margin-bottom: 50px;
cursor: pointer;
  }
/* header styles  */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    margin-bottom: 85px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
    
}
nav > ul > li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
   
}
nav > ul > li > a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    color:  #131313;
    font-family: Work Sans;
    font-size: 2.8125rem;
    font-weight: 700;
}

/* banner styles */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color:  #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description{
    color: #727272;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;
}
.banner img{
    width: 100%;
}


/* main styles */

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* team section style  */
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    
}
.team-container{
    display: flex;
    align-items: center;
}
.team-content{
    max-width: 535px;
   padding-left: 75px;
   padding-right: 75px;
}
.q-list{
    color:  #727272;
    font-size: 2.8125rem;
    font-weight: 500;
}
.of-our{
    color: var #131313;
    font-size: 2.8125rem;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-size: 2.8125rem;
    font-weight: 700;
}
.team-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;

}

/* fact section style  */

.fact-title{
    color:  #131313;
    font-size: 2.8125rem;
    font-weight: 700;
}
.fact-description{
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
}






/* responsive styles  */

/* mobile devices */

@media screen and (max-width:576px) {

    header{
        padding: 15px;
    }
    nav,.team-container{
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .team-content{
       padding-left: 20px;
       padding-right: 20px;
    }
    
}

/* medium devices */

@media screen and (min-width:576px) and (max-width:992px) {

    header{
        padding: 15px;
    }
    nav{
        flex-direction: column;
    }
    .team-container{
        flex-direction: column-reverse;
    }
    .team-img-container img{
        width: 92%;
    }


    
}